<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.excubivue.cubivue_scanners">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".scanner.vision.MaterialBarcodeScannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:label="@string/library_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".scanner.zxing.CustomScannerActivity"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".scanner.mlkit.ScannerActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

    </application>
</manifest>
